@media(min-width: 1000px ) {
	.portfolio-listing {
		display: grid;
		grid-column-gap: 1rem;
		grid-template-columns: 350px 350px;
		margin: auto;
		max-width: calc(700px + 1rem);
	}
	.portfolio-item p{
		font-style: italic;
		padding-bottom: 1rem;
	}
}

@media(min-width: 1425px ) {
	.portfolio-listing {
		display: grid;
		grid-column-gap: 1rem;
		grid-template-columns: 350px 350px 350px;
		margin: auto;
		max-width: calc(1050px + 2rem) 
	}
	.portfolio-item p{
		font-style: italic;
		padding-bottom: 1rem;
	}
}