/*=================================
COLORS COMPONENT
=================================*/
html {
	--color-blue: #5da9e9;
	--color-blue-dark: #335d80;
	--color-blue-light: #a6d0f3; 

	--color-red: #db5461;
	--color-red-dark: #782e35;
	--color-red-light: #eba1a8;

	--color-green: #6a9975;
	--color-green-dark: #3a5440;
	--color-green-light: #adc7b3;

	--color-yellow: #f7dfb7;
	--color-yellow-dark: #846c44;
	--color-yellow-light: #f7dfb7;

	--color-shade: #c3c8ca;
	--color-shade-dark: #01161e; 
	--color-shade-light: #f0f1f1;
}

/*=================================
TYPOGRAPHY
=================================*/

html {
	background-color: var(--color-shade-dark);
	color: var(--color-shade-dark);
	--font-display: 'Arvo', "Times New Roman", serif;
	--font-primary: 'Rubik', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, figure text {
	font-family: var(--font-display);
	line-height: 1.2; 
}

header ul, footer ul{
	list-style: none;
	margin: 1rem .5rem;
}

p, li {
	font-family: var(--font-primary);
	line-height: 1.4;
}

.display-font p{
	font-family: var(--font-display);;
}

a {
	color: var(--color-green-dark);
	padding: .2rem;
	text-decoration: none;
}

a:active {
	background-color: var(--color-yellow);
	border-radius: .2rem;
	color: var(--color-red);
}

a:focus {
	border: var(--color-red-dark);
}	

a:visited {
	color: var(--color-red);
}

a:hover {
	background-color: var(--color-yellow-light);
	border-radius: .2rem;
}

/*=================================
PAGE LAYOUT
=================================*/
body {
	background-color: var(--color-shade);
	border-radius: .5rem;
	margin: .5rem;
	padding: .5rem .5rem;
}

main {
	background-color: var(--color-shade-light);
	border-radius: .5rem;
	margin: .5rem auto;
	max-width: 35rem;
	padding: 1rem;
}

nav li{
	margin: .4rem;
}
/*=================================
HEADER COMPONENT
=================================*/
header {
	background-color: var(--color-blue);
	border-radius: 5px;
	margin: .5rem;
	padding: 2rem;
}

@media (min-width: 361px) {
	header {
		align-items: baseline;
		display: flex;
		justify-content: space-between;
	}
}
@media (min-width: 580px) {
	header ul{
		display:flex;
		justify-content: space-between;
	}

/*=================================
FOOTER COMPONENT
=================================*/
footer {
	background-color: var(--color-yellow);
	border-radius: 5px;
	margin: .5rem;
	padding: 2rem;
}

footer p, footer h2, h3, h4 {
	margin: 0 auto .5rem;
	max-width: 35rem;
}

footer nav {
	background-color: var(--color-blue);
	border-radius: .2rem;
	padding: .3rem 0;
}
@media (min-width: 580px) {
	footer ul{
		display:flex;
		justify-content: flex-end;
	}


/*=================================
COLOR CARD LISTING
=================================*/

.color-swatch {
	border-radius: .5rem;
	max-width: 30%;	
}

.color-swatch text{
	font-size: .5rem;
}

.swatch-group {
	margin: 0;
	text-align: center;
}

