/*=================================
COLORS COMPONENT
=================================*/
html {
	--color-blue: #5da9e9;
	--color-blue-dark: #335d80;
	--color-blue-light: #a6d0f3; 

	--color-red: #db5461;
	--color-red-dark: #782e35;
	--color-red-light: #eba1a8;

	--color-green: #6a9975;
	--color-green-dark: #3a5440;
	--color-green-light: #adc7b3;

	--color-yellow: #f2c57c;
	--color-yellow-dark: #846c44;
	--color-yellow-light: #f7dfb7;

	--color-shade: #c3c8ca;
	--color-shade-dark: #01161e; 
	--color-shade-light: #f0f1f1;
}

/*=================================
TYPOGRAPHY
=================================*/

html {
	background-color: var(--color-yellow);
	color: var(--color-shade-dark);

	--font-display: 'Arvo', "Times New Roman", serif;
	--font-primary: 'Rubik', 'Arial', sans-serif;

	font-family: var(--font-primary);

/*type-scale*/
	--ratio: 1.333;
	--size-one: calc(1rem * var(--ratio)); 
	--size-two: calc(var(--ratio) * var(--size-one));
	--size-three: calc(var(--ratio) * var(--size-two));
	--size-four: calc(var(--ratio) * var(--size-three));
}

h1, h2, h3, h4, h5, h6, figure text {
	color: var(--color-blue-dark);
	font-family: var(--font-display);
}

.logo {
	font-size: var(--size-four);
	letter-spacing: -.08em;
	line-height: 1.1;
}

.index-h2 {
	padding: 0;
	margin: 0;
}

h1 {
	font-size:var(--size-four);
	letter-spacing: -.04em;
	line-height: 1.1;
}

h2 {
	font-size: var(--size-three);
	letter-spacing: -.02em;
	line-height: 1.2;
}

h3 {
	font-size: var(--size-two);
	letter-spacing: -.04em;
	line-height: 1.3;
}

h4, h5, h6 {
	font-size: var(--size-one);
	letter-spacing: -.04em;
	line-height: 1.4;
}
p, li {
	font-family: var(--font-primary);
	line-height: 1.4;
}

.featured-text {
	color: var(--color-green-dark);
	font-family: var(--font-primary);
	font-size: var(--size-one);
	font-weight: 700;
	margin: .2rem .5rem;
	padding-bottom: 1rem;
}

.tertiary-text {
	font-size: .7rem;
	font-style: italic;
	max-width: 24.5rem;
}

/*Link styles*/
a {
	color: var(--color-green);
	padding: .2rem;
	text-decoration: none;
}

a:visited {
	color: var(--color-blue);
}

a:hover {
	background-color: var(--color-yellow-light);
	border-radius: .2rem;
}

a:active {
	background-color: var(--color-yellow);
	border-radius: .2rem;
	color: var(--color-red);
}

a:focus {
	border: var(--color-red-dark);
	background-color: var(--color-red-light);
	color: var(--color-green-dark);
}	

a h1, a h2, a h3, a h4, a h5 {
	color: var(--color-blue-dark);
}

/*=================================
PAGE LAYOUT
=================================*/
body {
	background-color: var(--color-red-dark);
	border-radius: .5rem;
	margin: .5rem;
	padding: .5rem .5rem;
}

main {
	margin: .5rem;
}

main h2, main section {
	background-color: var(--color-shade-light);
	border-radius: .5rem;
	margin: .5rem auto;
}

main section{
	padding: 1rem;
}

nav li {
	margin: .4rem;
}
/*=================================
HEADER COMPONENT
=================================*/
header {
	background-color: var(--color-yellow-light);
	border-radius: 5px;
	box-shadow: 0 2px 15px var(--color-yellow-dark) inset;
	margin: .5rem;
	padding: 2rem;
}

header ul {
	padding-left: 0;
}

@media (min-width: 361px) {

	header {
		align-items: baseline;
		display: flex;
		justify-content: space-between;
	}
}
@media (min-width: 619px) {

	header ul{
		display:flex;
		justify-content: space-between;
	}
}

.logo {
	background: var(--color-red-light);
	border-radius: .5rem;
	box-shadow: 0 2px 15px var(--color-red-dark);
	font-size: 2.3rem;
	letter-spacing: -.08rem;
	font-weight: 400;
	margin: 0;
	padding: 20px;
	position: relative;
}

.logo a{
	border-radius: .5rem;
	color: var(--color-blue-dark);
	display: inline-block;
	font-family: var(--font-display);
	text-shadow: 2px 2px 0 var(--color-red-light), 4px 4px 0 var(--color-yellow-dark);
}

.logo a:hover {
	background: var(--color-yellow);
	box-shadow: 0 2px 15px var(--color-red-dark);
	display: inline-block;
	padding: .5rem;
	text-shadow: -2px 2px 0 var(--color-yellow), -4px 4px 0 var(--color-yellow-dark);
	transform: scale(1.2);
	transition: all .5s ease;
}
/*=================================
FOOTER COMPONENT
=================================*/
footer{
	background-color: var(--color-yellow-light);
	border-radius: 5px;
	box-shadow: 0 2px 15px var(--color-yellow-dark) inset;
	margin: .5rem;
	padding: 2rem;
}

footer p, footer h2, footer h3, footer h4{
	margin: 0 auto .5rem;
	max-width: 35rem;
}

footer nav {
	background-color: var(--color-blue);
	border-radius: .5rem;
	box-shadow: 0 2px 15px var(--color-blue-dark);
	padding: .3rem 0;
}

@media (min-width: 580px) {

	footer ul{
		display:flex;
		justify-content: flex-end;
	}
}

header ul, footer ul{
	list-style: none;
	margin: 1rem .5rem;
}

footer a {
	color: var(--color-green);
	padding: .2rem;
	text-decoration: none;
}

footer a:visited {
	color: var(--color-green-dark);
}

footer a:hover {
	background-color: var(--color-yellow-light);
	border-radius: .2rem;
}

footer a:active {
	background-color: var(--color-yellow);
	border-radius: .2rem;
	color: var(--color-red);
}

footer a:focus {
	border: var(--color-red-dark);
	background-color: var(--color-red-light);
	color: var(--color-green-dark);
}	

/*=================================
BLOCKQUOTES and CITES
=================================*/
blockquote {
	background: var(--color-blue-light);
	border-left: .5rem solid var(--color-red);
	border-right: .5rem solid var(--color-red);
	border-radius: .5rem;
	box-shadow: 0 2px 15px var(--color-blue-dark);
	margin: .5rem auto;
	max-width: 30rem;
	padding: 1rem .5rem;
	quotes: "\201D""\2018""\2019";
}

blockquote:before {
	color: var(--color-yellow-dark);
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p:last-of-type:after {
	color: var(--color-yellow-dark);
	content: close-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

cite {
	font-family: var(--font-primary);
	font-size: 1rem;
	font-style: italic;
	text-align: right;
}
/*=================================
BUTTON LINKS
=================================*/

.link-button {
	background-color: var(--color-yellow);
	border-radius: .5rem;
	box-shadow: 0 2px 15px var(--color-red-dark);
	color: var(--color-blue-dark);
	display: inline-block;
	margin: 1rem;
	padding: 1rem;
	transition: all .5s;
}

.link-button-hero {
	border: 6px solid;
	font-size: 1.2rem;
	padding: 1.7rem;
}

.link-button-normal {
	background-color: transparent;
	border: 4px solid;
	color: var(--color-blue-dark);
}

.link-button-tertiary {
	background-color: transparent;
	border: 1px solid;
	color: var(--color-blue-dark);
	padding: .2rem;
}

.link-button:visited {
	color: var(--color-blue-dark);
}

.link-button:hover, .link-button:focus {
	background-color: var(--color-blue-dark);
	border-radius: .5rem;
	color: var(--color-yellow-light);
	outline: none;
	transform: scale(1.2);
	transition: all .5s;
}

.link-button:active {
	box-shadow: 4px 4px rgba(0,0,0,.3) inset;
	transform: scale(.9);
}
/*=================================
ACCORDIONS
=================================*/
details {
	border: 1px solid purple;
	margin: 1rem 0;
}

summary {
	box-shadow: 0 2px 15px var(--color-red-dark);
	border-radius: .5rem;
	font-size: 1.2rem;
	margin: .5rem 0;
	padding: .5rem;
}

summary:focus {
	outline: none;
}

details div {
	background-color: var(--color-yellow-light);
	border-radius: .5rem;
	box-shadow: 0 2px 15px var(--color-red-dark) inset;
	padding: 1rem;
}

summary::-webkit-details-marker {
	color: transparent;
}

summary:before {
	content: '✚';
	color: var(--color-red-dark);
	display: inline-block;
	transition: all .5s;
}

details[open] summary:before{
	transform: rotate(360deg);
	transition: all 1s;
}

/*=================================
DIALOGS
=================================*/
dialog {
	border: none;
	border-radius: .5rem;
	box-shadow: 0 2px 15px var(--color-red-dark);
	max-width: 50%;
	padding: 2rem;
	transition: all .5s;
}

dialog{
	margin: auto;
}

dialog::backdrop {
	background: rgba(0,0,0,.5);
}

dialog[open] {
    -webkit-animation: show .5s ease normal;
}
@keyframes show{
    from {
        transform: translateY(600px);
    }
    to {
        transform: translateY(0px);
    }
}

#modal-demo {
	background-color: var(--color-shade);
	height: 100%; 
	left: 0;
	overflow: auto; 
	position: fixed;
	top: 50%;
	width: 100%;
}

#modal-demo div{
	margin: auto;
	max-width: 35rem;
	z-index: 1;
}

/*=================================
EXAMPLES
=================================*/

.color-swatch {
	border-radius: .5rem;
	max-width: 30%;	
}

.color-swatch text{
	font-size: .5rem;
}

.block{
	background-color: var(--color-shade-light);
	border: .1rem solid var(--color-shade);
	border-radius: .5rem;
	box-shadow: 0 2px 15px var(--color-red-dark) inset;
	margin: 0 1rem 1rem 1rem;
	padding: .5rem;
}

.color-palette {
	text-align: center;
}

.block h1, .block h2, .block h3, .block h4, .block h5, .block p, {
	text-align: left;
}

.display-font p{
	font-family: var(--font-display);
}



